@{
    ViewData["Title"] = "Sign-In Page";
}

<div id="box">
@if (!string.IsNullOrEmpty(TempData["ErrorMessage"]?.ToString()))
{
    <div class="err">
        <span>@TempData["ErrorMessage"]</span>
    </div>
}
<form method="post" action="SignIn">
  @Html.AntiForgeryToken()
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Email</label>
    <input name="Email" type="email" id="form2Example1" class="form-control" />
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Password</label>
    <input name="Password" type="password" id="form2Example2" class="form-control" />
  </div>

  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
        <label class="form-check-label" for="form2Example31">Remember me</label>
      </div>
    </div>

    <div class="col">
      <a href="#!">Forgot password?</a>
    </div>
  </div>
  <button type="submit" style="float:right;" class="btn btn-primary btn-block mb-1">Sign in</button>
  <div class="text-center">
    <p>Not a member? <a href="/Account/Register">Register</a></p>
</form>
</div>

<style>
    #box
    {   
        margin: auto;
        width: 50%;
    }

    .err
    {
        color: red;
        font-weight: bold;
    }
</style>