@using OnlineJudge.Models.IO
@model CodeEditorParams

<div id="CodeEditor">
    <select name="lang" id="lang">
        @foreach (var lang in Model.AvailableLanguages)
        {
            <option value="@lang">@lang</option>
        }
    </select>
    <textarea id="code"></textarea>
</div>

<style>
    #code
    {
        width: 100%;
        height: 500px;
    }
</style>