@using OnlineJudge.Consts
@using OnlineJudge.Models.Domain
@model List<Submission>
@{
    ViewData["Title"] = "Online Judge";
}

<div class="text-center">
    <h1 class="display-4">History of Submissions:</h1>
</div>

@if (Model.Any())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Assignment Title</th>
                <th scope="col">Language</th>
                <th scope="col">Submitted At</th>
                <th scope="col">Submitted Code</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var submission in Model)
            {
                <tr>
                    <th scope="row">@submission.Assignment.Title</th>
                    <td>@submission.Language</td>
                    <td>@submission.Submitted</td>
                    <td>@submission.Code</td>
                </tr>
            }
        </tbody>
    </table>
}