@using OnlineJudge.Consts
@using OnlineJudge.Models.Domain
@model string
@{
    ViewData["Title"] = "Online Judge";
}

<div class="text-center">
    <h1 class="display-4" style="color:red;font-weight:bold">@Model :(</h1>
</div>